<app-header></app-header>
<table class="tbl-hero">
    <thead>
    <tr>
    <th>Nome</th>
    <th>Età</th>
    <th>Sesso</th>
    <th>Segni particolari</th>
    <th>Note</th>
    <th>Azioni</th>
    </tr>
    </thead>
    
    <tbody>
    <tr *ngFor="let hero of heroes; index as i">
    <td class="td-name" [attr.data-index]="0">{{ hero.name }}</td>
    <td [attr.data-index]="0">{{ hero.eta }}</td>
    <td [attr.data-index]="0">{{ hero.sesso }}</td>
    <td [attr.data-index]="0">{{ hero.segniParticolari }}</td>
    <td [attr.data-index]="0">{{ hero.note }}</td>
    <td [attr.data-index]="0">{{ hero.azioni }} 
      <div class="dropdown">
        <button class="dropbtn">+</button>
        <div class="dropdown-content">
          <a id="modifica" href="#"><img src="https://icon-library.com/images/icon-for-edit/icon-for-edit-15.jpg" width="30" height="30" ></a>
          <a href="#"><img src="https://www.flaticon.com/premium-icon/icons/svg/2029/2029211.svg" width="30" height="30"></a>
          <a href="#"><img src="https://cdn.iconscout.com/icon/premium/png-64-thumb/delete-2559953-2275931.png" width="30" height="30"></a>
        </div>
      </div>
    </td>
    </tr>
    </tbody>
    </table>
