table.tbl-hero {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 73%;
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  table.tbl-hero thead {
   background: rgb(255, 177, 87);  
  }
table.tbl-hero th {
    border: 2px solid #b3b3b3;
    padding: 8px 10px;  
    font-family: 'Permanent Marker', cursive;
    color: #1C6EA4;  
  }

  table.tbl-hero tbody td {
    border: 2px solid #b3b3b3;
    padding: 8px 10px;
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
  }
  .td-name{
      color: rgb(133, 18, 18);
  }


  /* Dropdown Button */
.dropbtn {
    background-color: #d1dadf;
    color: rgb(80, 80, 80);
    padding: 5px;
    font-size: 10px;
    border: outset ;
    border-radius: 100%;
    margin-left: 10px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 80px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: outset ;
    border-radius: 10px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color:#1C6EA4; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgba(211, 178, 147, 0.377);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #c26f22;}