*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgb(87, 87, 87);
    

}
.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float:left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 48px;
    font-weight: 200;
    font-family: 'Amatic SC', cursive; 
}

.logo_container span{
    font-weight: 800;
    font-family: 'Permanent Marker', cursive;
    color: rgb(223, 144, 70);
    font-size: 33px;
}
.navigation{
    float: right;
    height: 100%;
    font-family: 'Amatic SC', cursive;
    

}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    font-size: 30px;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 30px;
}