
body{background: rgb(230, 221, 221);margin-top: 100px; }

/*-----------------------------
BOTTONE E ANIMAZIONE
-----------------------------*/
.third{
    text-align: center; margin-top: 20px;
}
.button{ display: inline-block; background: rgb(32, 81, 136); color:rgb(170, 185, 207);padding: 3px 20px; border-radius:50px; text-decoration: none;font-family: 'Rock Salt', cursive;}

.button--move{
	animation: rotate_effect  3s infinite ease-in-out;

}
@keyframes rotate_effect{
	0%{transform: rotate(0deg);}
	20%{transform: rotate(0deg);}
	40%{transform: rotate(3deg);}
	60%{transform: rotate(-6deg);}
	80%{transform: rotate(0deg);}
	100%{transform: rotate(0deg);}
}

/*-----------------------------
HEADER
-----------------------------*/
.head{text-align: center; vertical-align:top}
.headerTitle{ display:inline-block; }
#Tfir{
    transform: rotate(-9deg); font-size: 50px;padding-top: 10px; font-family: 'Finger Paint', cursive; color: #f7921f;
}
#Tsec{
     font-size: 50px; font-family: 'Finger Paint', cursive; color: #3f392d;
 }
 
/*-----------------------------
Form
-----------------------------*/
div.content{
    height: 40px;
    width: 50px;
    float: center;
    margin: 20px;
}
div#first{text-align: center;font-family: 'Amatic SC', cursive; font-size: 35px;}
#lname{margin-right: 18px;}
div#second{text-align: center; margin-top: 5px;font-family: 'Amatic SC', cursive;font-size: 35px;}
#lpass{margin-right: 30px;}
input[type=text] {
    border: none;
    border-bottom: 2px solid rgb(99, 70, 70);
    background: rgb(207, 205, 205);
    font-size: 16px;
  }
input[type=password] {
    border: none;
    border-bottom: 2px solid rgb(99, 70, 70);
    background: rgb(207, 205, 205);
    font-size: 16px;
  }
div#third{text-align: center; margin-top: 30px;}


.footer{color: rgb(180, 179, 179); font-size: 10px;}