<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<body>
        
    <div class="head">
<header class="headerTitle1">

    <h1 class="headerTitle" id="Tfir">Luna</h1>
    <h1 class="headerTitle" id="Tsec">Heroes</h1>

</header>
</div>

<form [formGroup]="form">
<div class="container" id="first">
      <label for="username" id="lname"><b>UserHero</b></label>
      <input 
      formControlName="username" 
      type="text" 
      class="form-control" 
      placeholder="username" 
      id="username">
      <div *ngIf="username.pending">checking...</div>
      <!-- form.get('username') -->
      <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
          <div *ngIf="username.errors.required">Inserisci l'UserHero per poter accedere</div>
          <!-- nel secondo div ho usato anche una string-interpolation per il minlength -->
          <div *ngIf="username.errors.minlength">UserHero deve essere minimo di {{ username.errors.minlength.requiredLength }} caratteri</div>
          <div *ngIf="username.errors.cannotContainSpace">UserHero non può contenere spazi</div>
      </div>
    </div>


<div class="container" id="second">
      <label for="password" id="lpass"><b>Password</b></label>
      <input 
      formControlName="password" 
      type="password" 
      placeholder="password" 
      id="password">
      
 </div>
    
 <div class="container" id="third">
        <button type="button" class="button button--move"routerLink="/header">Enter</button>
      
    </div>
</form>

  <footer class="footer">
    <p>Copyright - 2020 Luna Partner - BOLOGNA </p>
    
    <h1>{{ message }}</h1>
    </footer>    
</body>
<!-- <app-home (childEvent)="message=$event" [parentData]="name"></app-home> -->
<!-- <router-outlet></router-outlet> -->
<router-outlet></router-outlet>
</html>
