*{background-color: rgb(247, 247, 247);}
/*-----------------------------
Cards
-----------------------------*/

.cards{max-width: 1200px; margin: 40px auto}
.card{width: 30%; margin:0 1.5%; background: #fff;float:left;}
.card__image{width:100%; height: auto;}
.card__copy{padding:5px 20px;}
.card__copy h3{margin-bottom:0; font-family: 'Architects Daughter', cursive; color: rgb(58, 58, 58);font-size: 34px; color: rgb(194, 116, 14);}
.card__copy p{font-family: 'Neucha', cursive; font-size: 22px;}
#ca1{animation: rotate_effect  1s ease-in-out;}
#ca2{animation: rotate_effect2  1.1s ease-in-out;}
#ca3{animation: rotate_effect3  1.2s ease-in-out;}
.hr-card{color: rgb(255, 255, 255);border-top: 1px solid rgb(255, 229, 229);}

@keyframes rotate_effect{
	0%{transform: rotate(0deg);}
	20%{transform: rotate(0deg);}
	40%{transform: rotate(1deg);}
	60%{transform: rotate(-0.3deg);}
	80%{transform: rotate(0deg);}
	100%{transform: rotate(0deg);}
}
@keyframes rotate_effect2{
	0%{transform: rotate(0deg);}
	20%{transform: rotate(0deg);}
	40%{transform: rotate(1deg);}
	60%{transform: rotate(-0.4deg);}
	80%{transform: rotate(-0.6deg);}
	100%{transform: rotate(0deg);}
}

@keyframes rotate_effect3{
	0%{transform: rotate(0deg);}
	20%{transform: rotate(0deg);}
	40%{transform: rotate(-2deg);}
	60%{transform: rotate(1deg);}
	80%{transform: rotate(2deg);}
	100%{transform: rotate(0deg);}
}



/*-----------------------------
Banner
-----------------------------*/
.banner{background: rgb(46, 20, 8); height:50%;margin-top:40px}
#img-banner{width:30%; float:left;height:100%;	
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-position: center center;
}
.banner__copy{width:70%; float:left;height:100%;display: table;}
.banner__copy__text{display: table-cell; vertical-align: middle;padding:30px;font-family: 'Neucha', cursive;}

.banner__copy__text h3{font-size: 36px;margin-bottom:0;font-family: 'Neucha', cursive;}
.banner__copy__text h4{font-size: 22px;margin: 5px 0;font-family: 'Neucha', cursive;}


/* clearfix */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}