<app-header></app-header>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">

<section class="cards clearfix">
    <div class="card">
        <img class="card__image"src="https://images.unsplash.com/photo-1534809027769-b00d750a6bac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Nature" id="ca1">
        <div class="card__copy" >
            <h3>Spider-Man</h3>
            <hr class="hr-card">
            <p>L'Uomo Ragno (Spider-Man), alter ego di Peter Parker, talvolta chiamato Spidey. A seguito del morso di un ragno radioattivo, il personaggio ha acquisito una vasta gamma di poteri: ha forza, resistenza, agilità e velocità proporzionali a quelle di un aracnide, la capacità di aderire ai muri, e il senso di ragno, una sorta di sesto senso che lo avverte dei pericoli di qualsiasi tipo.</p>
        </div>
    </div>
    <div class="card">
        <img class="card__image"src="https://images.unsplash.com/photo-1531259683007-016a7b628fc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Nature"id="ca2">
        <div class="card__copy">
            <h3>Batman</h3>
            <hr class="hr-card">
            <p>Batman (originariamente noto come The Bat-Man, ovvero l'uomo pipistrello).Batman è privo di superpoteri, in quanto è un semplice essere umano, ma, essendosi sottoposto sin da giovanissimo ad allenamenti fisici estremamente intensi, a diete specializzate incredibilmente rigorose e ad appositi trattamenti, è riuscito a sviluppare un organismo perfetto sotto ogni punto di vista. Adesso è dotato di forza, resistenza fisica, velocità, agilità, sistema immunitario, processi di guarigione, sensi, riflessi e processi mentali ai limiti delle possibilità umane; le sue capacità atletiche sono superiori anche a quelle dei più grandi campioni olimpionici.</p>
        </div>
    </div>
    <div class="card">
        <img class="card__image"src="https://images.unsplash.com/photo-1532202802379-df93d543bac3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Nature"id="ca3">
        <div class="card__copy" >
            <h3>Super-Dog</h3>
            <hr class="hr-card">
            <p>Il bulldog inglese è una razza canina riconosciuta, di tipo molossoide e taglia media originario dell’Inghilterra. Le sue capacità al momento sono nascoste</p>
        </div>
    </div>
</section>

<section class="banner clearfix">
    <div class="banner__copy">
        <div class="banner__copy__text">
            <h3>Diventa un Luna Heroes</h3>
            <h4>Banner Subtitle</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas autem quam, explicabo pariatur sit nisi, adipisci saepe.</p>
        </div>
    </div>
    <div class="banner__image"> 
        <img id="img-banner" src="https://images.unsplash.com/photo-1531907700752-62799b2a3e84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">   
    </div>
</section>
